doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= "Yale Mirador Example"
    link(rel="stylesheet", type="text/css", href="../dist/lib/goldenlayout/goldenlayout-base.css")
    link(rel="stylesheet", type="text/css", href="../dist/lib/goldenlayout/goldenlayout-dark-theme.css")
    link(rel="stylesheet", type="text/css", href="../dist/mirador/css/mirador-combined.min.css")
    link(rel="stylesheet", type="text/css", href="../dist/lib/semantic/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="../dist/yale-mirador/yale-mirador.bundle.css")
    script(type="text/javascript", src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
    script(type="text/javascript", src="../dist/mirador/mirador.min.js")
    script(type="text/javascript", src="../dist/lib/js.cookie.js")
    script(type="text/javascript", src="../dist/lib/dexie.min.js")
    script(type="text/javascript", src="../dist/lib/semantic/semantic.min.js")
    script(type="text/javascript", src="../dist/lib/goldenlayout/goldenlayout.min.js")
    script(type="text/javascript", src="../dist/yale-mirador/yale-mirador.bundle.js")
  body
    #ym_grid
    #ym_annotation_dialog
    #viewer_template
      div(id="{{id}}",
        data-settings-url="/api/settings",
        data-manifest-url=manifestUrl
        i0-data-room-id="286",
        i0-data-canvas-id="http://manifests.ydc2.yale.edu/LOTB/canvas/panel_01"
        i1-data-canvas-id="http://manifests.ydc2.yale.edu/LOTB/canvas/bv11"
        i1-data-toc-tags="chapter4"
        i0-data-layer-ids="http://mirador-annotations-lotb-stg.herokuapp.com/layers/Chapters,http://mirador-annotations-lotb-stg.herokuapp.com/layers/Scenes"
        i1-data-layer-ids="http://mirador-annotations-lotb-stg.herokuapp.com/layers/English"
        i1-data-annotation-id="http://mirador-annotations-lotb.herokuapp.com/annotations/Panel_1_Chapter_3_Scene_3_1_English_Sun_Of_Faith")
