doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= "Yale Mirador Example"
    link(rel="stylesheet", type="text/css", href="../lib/goldenlayout/goldenlayout-base.css")
    link(rel="stylesheet", type="text/css", href="../lib/goldenlayout/goldenlayout-light-theme.css")
    link(rel="stylesheet", type="text/css", href="../dist/mirador/css/mirador-combined.min.css")
    link(rel="stylesheet", type="text/css", href="../lib/semantic/dist/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="../dist/yale-mirador/yale-mirador.bundle.css")
    script(type="text/javascript", src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
    script(type="text/javascript", src="../dist/mirador/mirador.min.js")
    script(type="text/javascript", src="https://code.jquery.com/jquery-migrate-3.0.0.min.js")
    script(type="text/javascript", src="../lib/js.cookie.js")
    script(type="text/javascript", src="../lib/dexie.js")
    script(type="text/javascript", src="../lib/semantic/dist/semantic.min.js")
    script(type="text/javascript", src="../lib/goldenlayout/goldenlayout.min.js")
    script(type="text/javascript", src="../dist/yale-mirador/yale-mirador.bundle.js")
  body
    #mirador_header
    #ym_grid
    #ym_annotation_dialog
    #viewer_template
      div(id="{{id}}",
        data-settings-url="/api/settings",
        data-manifest-url=manifestUrl
        data-canvas-id="http://manifests.ydc2.yale.edu/LOTB/canvas/panel_02_test"
        xx-data-toc-tags="chapter22,scene2"
        xx2-data-toc-tags="chapter22"
        xx-data-layer-ids="http://ydc-annotations.firebaseio.com/layers/1,http://ydc-annotations.firebaseio.com/layers/2"
        xx2-data-layer-ids="http://mirador-annotations-lotb.herokuapp.com/layers/Tibetan,http://mirador-annotations-lotb.herokuapp.com/layers/English"
        xx3-data-layer-ids="http://mirador-annotations-lotb-stg.herokuapp.com/layers/Scenes"
        xx-data-annotation-id="http://mirador-annotations-lotb-stg.herokuapp.com/annotations/a79aca6b-e468-4fe0-9868-e56422a0234b"
        data-room-id="1")
